  body {
    /* background-color: #e5e1d6; */
    background: linear-gradient(0deg, #5e807f, #ffca67, #f7ca77, #e5e1d6, #ffffff);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* Media Query für kleine Bildschirme (Smartphone) */
  @media only screen and (max-width: 480px) {
    body {
      font-size: 1.5rem;
    }
  }
  
  /* Anpassung für mittelgroße Bildschirme (Tablet) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
      font-size: 1.25rem;
    }
    h1 {
      color: black;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
    }
    .item {
      flex-basis: 100%;
      width: 100%; /* take the full width of the screen */
    }
  }
  
  /* Anpassung für große Bildschirme (Desktop) */
  @media only screen and (min-width: 769px) {
    body {
      font-size: 18px;
    }
  }
   
  /* Toggle fürs öffnen */ 
  nav label {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../images/menu_toggle.png');
    background-size: 100%;
  }
  
  #menu-toggle {
    display: none; /* versteckt die Checkbox */
  }
  
  #menu {
    display: none;
  }
  
  #menu-toggle:checked ~ #menu {
    display: block;
  }
  
  #menu-toggle:checked + label {
    /* X - Toggle, fürs schließen */
    background-image: url('../images/x-lg.svg');
    
  }
  
  /* Titelbild Größen */
  .titelbild {
    width: 100%;
    height: auto;
    padding-top: 2px;
  }
  
  /* Links und rechts Spalten */
  .container1 {
    margin: 0 auto; /* Das tut den Inhalt in die Mitte bringen */
    max-width: 1000px;
    padding: 0 3rem;
  }
  
  /* Schrift mit der entsp. Farbe, Art und deren Ordnung bzw. Größe */
  h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    /* font-size: 2.5rem; */
  }
  
  h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }
  h3{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }
  
  img {
    width: 100%;
    max-height: 500px;
    display: flex;
  }
  
  /* Navigtions anker */
  li, a, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: beige;
    text-decoration: none;
  }
  
  header {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.387);
    position: sticky; /* Lässt die Navbar  beim runterscrollen mitziehen */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  /* Logo der Webseite */
  .logo {
    cursor: pointer;
    max-height: 150px;
    max-width: 150px;
    margin-right: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  
  nav ul {
    display: flex;
  }
  
  #menu-toggle:checked ~ .nav__links {
    display: block;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.387);
  }
  
  .nav__links li {
    display: block;
    padding: 0px 20px;
    background-color: rgba(0, 136, 169, 1);
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .nav__links {
    display: none;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
  }
  
  .nav__links li a:hover {
    color: rgb(0, 0, 0);
  }
  
  @media only screen and (min-width: 769px) {
    nav label {
      display: none;
    }
  
    .nav__links {
      display: flex;
    }
  
    .nav__links li {
      display: inline-block;
      padding: 0px 20px;
      background-color: rgba(0, 136, 169, 1);
      margin-right: 10px;
      margin-top: 0;
    }
  }
  
  /* Layout für Knopf */ 
  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px; /* Lässt den Knopf rund wirken */
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
  }
  
  .likecounter {
    background-color: orange;
  }
  
  .likecounter:hover {
    background-color: cadetblue;
  }
  
  button:hover {
    background-color: black;
  }
  
  .description2 {
    text-align: left;
  }
  
  .description2 p {
    text-align: center;
  }
  
  .tab2 {
    float: right;
  }
  
  table {
    border-style: outset;
    color: black;
    text-align: left;
    width: 100%;
    border-radius: 2px;
  }
  
  .parent1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*align-items: center;*/
    width: 100%;
    height: 400px;
    text-align: center;
    /*text transform??*/
    text-decoration: underline;
    margin: 10px;
    border: 2px solid white;
    overflow: hidden;
  }
  
  .parent1:hover img {
    transform: scale(1.1);
  }
  
  .divstrand {
    flex-grow: 1;
    transition: all 0.3s;
    transform: scale(1);
  }

  /* Beim drübergehen vergößert sich das Bild */
  .divstrand:hover {
    transform: scale(1.1);
  }
  
  .divbegre {
    flex-grow: 1;
    transition: all 0.3s;
    transform: scale(1);
  }
  
  .divbegre:hover {
    transform: scale(1.1);
  }
  
  .divstadt {
    flex-grow: 1;
    transition: all 0.3s;
  }
  
  .divstadt:hover {
    transform: scale(1.1);
  }
  
  .divstadt a:hover {
    transform: none;
  }
  
  /* Überschrift am Footer mit anderer Farbe */
  .Ende {
    color: white;
  }
  
  .lesemehr {
    text-decoration: underline;
    color: black;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .lesemehr:hover {
    background-color: rgba(0, 135, 169, 0.574);
  }
  
  .source {
    color: black;
  }
  
  /* Anker für Stadt, Strand und Berge */
  .centerlink {
    display: block;
    color: rgb(255, 119, 0);
    width: 100%; /* lässt den anker mittig platzieren */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
  }

  .centerlink:hover{
    background-color: rgba(0, 0, 0, 0.387);
  }
  
  /* Layout für Ende (unten) */
  .fuss {
    background-color: rgba(0, 0, 0, 0.489);
    color: white;
    text-align: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
  }
  /* Logo am Ende zentrieren*/
  .fussbild {
    width: 150px;
    height: 85px;
    margin: 0 auto;
  }
  
  .fuss_main:hover {
    color: black;
    background-color: #ffca67;
  }
  
  .werbung {
    width: 200px;
    height: 150px;
  }
  
  /* Beispiel aus dem Buch, für die weiteren 3 Artikel  */
  figure {
    position: relative;
    width: 400px;
    box-shadow: 4px 6px 22px 1px rgba(0, 0, 0, 0.75);
  }
  
  figcaption {
    position: absolute;
    /* left: 0;
    top: 0; */
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(100, 28, 52, 0.7);
    /* padding: 0.75rem; */
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  /* Inhalts Box für die Stadt-, Berge- und Strandseite */
  .parent3 {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  .extraseitee{
    /* Hintergrund Bild für die Stadt-Seite */
    background-image: url('../images/Blurr_Background.jpg');
    background-size: cover;
    color: white;
  }
  /* Listen Layout*/
  .src__list{
    list-style: square; /* Anstatt Punkte, werden Vierecke angezeigt */
  }