/*
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*/

/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Varela+Round&display=swap');
*/

body{
    background-color: #e5e1d6;
    font-family: Arial, Helvetica, sans-serif;
}

.titelbild{
    width: 100%;
    padding-top: 2px;    
}
/*text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}*/

h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-style: italic;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 100%;
    max-height: 500px;
}

li,a,button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: beige;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    max-height: 100px;
    max-width: 100px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: rgb(161, 151, 106);
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: blueviolet;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: black;
}

table{
    border-style: outset;
    color: black;
    text-align: left;
    width: 100%;
    /*
    margin: 22px,22px;
    */
    border-radius: 2px;
}

.kleine_ueberschrift{
    color: saddlebrown;
    font-family: Arial, Helvetica, sans-serif;
}

.parent1{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*align-items: center;*/
    width: 100%;
    height: 400px;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    border: 2px solid white;
    overflow: hidden;
}

.parent1:hover img{
    transform: scale(1.1);
}

.divstrand{
    text-align: center;
    flex-grow: 1;
    transition: all 0.3s;
    transform: scale(1); 
}

.divstrand:hover{
    transform: scale(1.1);
}

.divbegre{
    flex-grow: 1;
    transition: all 0.3s;
    flex-grow: 1;
}
.divbegre:hover{
    transform: scale(1.1);
}

.divstadt{ 
    flex-grow: 1;
    transition: all 0.3s;
    flex-grow: 1;
}
.divstadt:hover{
    transform: scale(1.1);
}

.ref{
    text-align: center;
    padding-top: 5px;
}

.ende{
    color: black;
    width: 10px;
    height: 10px;
}

.zitat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
/*
.endesection{
    background-color: black;
    width: 100%;
    height: 150px;
    margin-block: 0%;
    
}
*/
.description{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.unten{
    background-color: black;
    width: 100%;
    height: 200px;
    text-align: center;
}

h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
